body {
  font-family: sans-serif;
}

video,
canvas {
  position: absolute;
  left: 0;
}

button {
  width: 100px;
  margin-left: 190;
  margin-right: 190px;
  margin-bottom: 30px;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}